@import "tailwindcss";

@theme {
  /* --- WARNA EVORY --- */
  --color-evory-base: #F9F8F4;
  --color-evory-dark: #1A1A1A;     /* Hitam lebih pekat */
  --color-evory-card: #252525;
  --color-evory-grey: #8A8A8A;
  --color-evory-gold: #D4AF37;
  
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  /* Membuat class: font-judul */
  --font-judul: var(--font-judul); 

  /* Membuat class: font-isi */
  --font-isi: var(--font-isi);

  /* Membuat class: font-custom */
  --font-custom: var(--font-custom);

  /* --- ANIMASI CUSTOM --- */
  --animate-marquee: marquee 30s linear infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}

@layer base {
  html.lenis, html.lenis body { height: auto; }
  
  body {
    background-color: var(--color-evory-base);
    color: var(--color-evory-dark);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }

  ::selection {
    background-color: var(--color-evory-gold);
    color: white;
  }
}

@layer utilities {
  .text-gold-shine {
    background: linear-gradient(135deg, #B88A44 0%, #E5C579 25%, #FFD700 50%, #E5C579 75%, #B88A44 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}